.h3{
	font-size: 20px;
    color: #666;
}
.h2{
	color: #666;
}
.card {
    padding: 48px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 20px rgba(0,0,0,0.2);
}
/* --------------- */
/*Utility*/
/* --------------- */

.u-text-center{text-align: center !important;}
.u-text-right{text-align: right !important;}
.u-mt-24{margin-top: 24px !important;}
.u-mt-48{margin-top : 48px !important;}
.u-mb-48{margin-bottom: 48px !important;}
.u-mb-24{margin-bottom: 24px !important;}
.u-mb-32{margin-bottom: 32px !important;}
.u-pl-8{padding-left: 8px !important;}
.u-pr-8{padding-right: 8px !important;}

input[type="email"],
input[type="text"],
input[type="password"]{
	width: 100%;
}
@media (max-width: 576px){
	.u-mb-24-mobile{
		margin-bottom: 24px !important;
	}
}
/*-----------------*/
/*custom*/
/*-----------------*/
.input-group-text{
	text-align: left;
}